html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 0 55px 0;
}

iframe {
    display: block;       
    border: none;            
    width: 100%;
}

.hidden {
    display: none;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}

.centered {
    height: 20%;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
}

#googleMap {
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    outline: none;
}   

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 87%;
    border-radius: 5px;
    height: 116px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card img {
    border-radius: 5px 5px 0 0;
    float: left;
    height: 100px;
    margin: 8px 16px 8px 8px;
  }
  
  .container {
    padding: 16px;
  }

img {
    border-radius: 15px;
}

.button-custom {
    background-color: rgba(255, 255, 28, 0);
    color: white;
    border-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

.offcanvas {
    height: 98% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(234, 232, 232, 1);
    color: black;
}

.offcanvas-header {
    margin-left: 4%;
    margin-top: 1%;
    margin-right: 4%;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 8%;
    padding-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
}

.offcanvas-body {
    margin-top: 0%;
    margin-left: 4% !important;
    margin-right: 4% !important;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.offcanvas-body::-webkit-scrollbar{
    display: none !important;
  }

.offcanvas-title {
    font-size: 18pt;
    color: black;
}